{% extends 'base.html.twig' %}

{# {% block title %}Hello MusicboxController!
{% endblock %} #}


{% block body %}
	{# {{dump (songs[0].music_title)}} #}


	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			{% for song in songs %}
				<div class="swiper-slide">
					<img src="{{asset ('uploads/covers/'~ song.cover ~'')}}"/>
					<div class="songDetails text-center bg-white py-2 w-full opacity-75">
						<h4 class="text-xl text-black font-bold">{{song.singer_name}}</h4>
						<p class="text-base text-gray-900 font-normal">{{ song.music_title }}</p>
					</div>
				</div>


			{% endfor %}
		</div>

		<div class="swiper-pagination"></div>
	</div>
{% endblock %}
