.thumbnail {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 25px;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}
.player {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	user-select: none;
}
.player .circle {
	max-width: 1px;
}
.player .circle .active {
	text-transform: uppercase;
	animation-name: example;
	animation: record 3s linear 0s infinite forwards;
}
@keyframes record {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
.player .circle .circ {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 16%;
	top: 32%;
	background-color: #fff;
	border-radius: 50%;
	z-index: 1;
}
.player .player-track {
	background-color: #222222;
	top: 0;
	margin-left: 15px;
	margin-right: 15px;
	padding: 5px 15px 5px 160px;
	border-radius: 15px 15px 0px 0px;
	height: 7rem;
}

.favoriteIconContainer {
	position: absolute;
	top: 0;
	left: 10px;
	font-size: 2rem;
	cursor: pointer;
	color: white;
}
.like {
	color: #8f4da9 !important;
	font-size: 0.8em;
}

.player .player-track .active {
	top: -100px;
}
.player .player-track .time {
	margin: 5px 0px 20px;
	height: 2px;
	color: rgb(99, 99, 103);
	/* line-height: 0; */
	font-size: 9pt;
	float: right;
	font-family: Arial, Sans-Serif;
}
.player .player-track .progress-bar {
	background-color: hsla(0, 0%, 100%, 0.3);
	border-radius: 20px;
	color: #8f4da9;
}
.player .player-track .progress-bar .fillBar {
	width: 0;
	height: 4px;
	border-radius: 20px;
	background: rgb(239, 109, 188);
	border-radius: 2px;
}

.player .player-track .artist-name {
	color: #ffffff;
	font-weight: bold;
	font-size: 1.5em;
}
.player .player-track .music-name {
	color: #b3b3b3;
	font-size: 1em;
	margin-bottom: 20px;
}
.player .player-control {
	background-color: #181818;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 450px;
	height: 50px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0.75vh 0.5vw rgba(0, 0, 0, 0.2),
		0 1.6vh 1.25vw rgba(0, 0, 0, 0.35),
		0.02vw -0.1vh rgba(56, 56, 56, 0.514);
}
.player .player-control #play {
	border-radius: 50%;
	width: 100px;
	align-self: self-end;
}
.player .player-control i {
	padding: 10px 8px;
	font-size: 15px;
	cursor: pointer;
	flex-basis: auto;
}
.play-btn:before,
.pause-btn:before {
	border-radius: 50%;
	color: #ffffff;
	background-color: #8f4da9;
	padding: 10px 10px 10px 15px;
}

.transparent-btn {
	background-color: transparent;
	border: none;
	text-align: center;
}
.play-btn:hover:before {
	filter: brightness(1.08) saturate(1.03);
	box-shadow: 0 1px #222222;
}

.pause-btn:before {
	padding: 10px 10px 10px 10px;
}
.pause-btn:hover:before {
	filter: brightness(1.08);
	box-shadow: 0 1px #855454b6;
}
.next-btn:before {
	color: rgb(179, 179, 179);
}
.next-btn:hover:before {
	color: #fff;
}
.prev-btn:before {
	color: rgb(179, 179, 179);
}
.prev-btn:hover:before {
	color: #fff;
}
