@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/* @keyframes bgImage {
	100% {
		background-position: 15% 50%;
	}
} */

html,
body {
	position: relative;
	height: 100%;
	/* background-image: url("../img/homeBg.png"); */
	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: #410c4f; */
	/* animation: bgImage 6s infinite alternate linear; */
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #000;
}

.swiper {
	width: 80%;
	padding-top: 5%;
	padding-bottom: 70px;
	margin-bottom: 100px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 80%;
}

.swiper-pagination {
	margin-bottom: 25%;
}

.buttonPlayContainer {
	text-align: center;
}
#buttonPlay {
	border-radius: 4px;
	font-size: 14px;
	background-color: #8f4da9; /* pink background */
	border: none; /* Remove button border */
	color: rgb(11, 4, 4); /* Text color */
	padding: 12px 24px; /* Button padding */
	text-decoration: none; /* Remove underline */
	display: inline-block; /* Make the button inline */
	transition-duration: 0.4s; /* Transition duration */
}

#buttonPlay:hover {
	background-color: rgba(
		239,
		109,
		188,
		0.3
	); /* Darker  background on hover */
}
