@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
	position: relative;
	height: 100vh;
	background-image: url("../img/bgHome.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow-x: auto;
	overflow-y: hidden;
}

.swiper {
	width: 80%;
	padding-bottom: 60px;
}

.swiper-slide {
	background-position: center;
	/* background-size: cover; */
	width: 200px;
	height: 250px;
	background-color: #14021b;
	border-radius: 10px;
}

.swiperContainer {
	width: 80%;
	margin-top: 5%;
	margin-left: 10%;
	height: 10rem;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 75%;
	border-radius: 10px;
}

.singer {
	color: white;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 30px;
	padding-left: 10px;
}

.title {
	color: white;
	font-size: 15px;
	margin-bottom: 5px;
	padding-left: 10px;
}

/* .swiper-pagination {
	margin-bottom: 25%;
	color: red;
} */

.buttonPlayContainer {
	text-align: center;
}
#buttonPlay {
	border-radius: 4px;
	font-size: 14px;
	background-color: #8f4da9;
	border: none;
	color: white;
	padding: 12px 24px;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s; /* Transition duration */
}

#buttonPlay:hover {
	background-color: rgba(239, 109, 188, 0.3);
}

.labelCategories {
	color: black;
}
